node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
/.idea/consolestorage/solr_region.json
/.idea/consolestorage/flexible_search_region.json
